<%= form_with(model: book_store, local: true) do |form| %>
  <% if book_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_store.errors.count, "error") %> prohibited this book_store from being saved:</h2>

      <ul>
      <% book_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_store_title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :book_store_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
